doctype html
html
    head
        link(rel="stylesheet" href="/assets/css/main-style/css")
        link(rel="icon" type="image/x-icon" href="/images/favicon.ico")
        title Rozalino | #{title}

    body
